.section-movies select {
  max-width: 375px;
  border-radius: 5px;
}

.section-movies select:focus {
  border-color: var(--primaryColor);
  box-shadow: 0 0 0 3px rgba(235, 87, 87, 0.3);
  outline: 0 none;
}
