.section-trending .button-wrapper {
  border: 1px solid var(--primaryColor);
  border-radius: 40px;
}

.section-trending .button-wrapper .btn:focus {
  box-shadow: 0 0 10px var(--primaryColor);
}

.section-trending .button-wrapper .btn-trending {
  display: block;
  background-color: var(--secondaryColor);
  color: var(--textColor);
  border-radius: 40px;
}

.section-trending .button-wrapper .btn-active {
  background-color: var(--primaryColor);
  box-shadow: 0 0 10px var(--primaryColor);
  color: rgb(255, 255, 255);
  z-index: 9;
}
